
.container {
	align-items: center;
	display: flex;
	justify-content: center;
	position: relative;
	top: 114px;
}

.container .mat-card {
	padding: 40px 45px 30px;
	// border-radius: 8px;
	max-width: 330px;
	border: 1px solid;
}

.container mat-card-title {
    text-align: center;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
.container .full-width {
	width: 100%;
}

.form-field1 {
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
	display: flex;
    align-items: center;
    justify-content: space-between;
}
.dob-field {
	width: 120px;
}