<div class="container">
    <mat-card>
        <mat-card-title>Register</mat-card-title>
        <form [formGroup]="regisrationForm" (ngSubmit)="onSubmit()" novalidate class="d-flex-center">
            <mat-card-content>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username">
                    <mat-error
                        *ngIf="regisrationForm.get('username')?.invalid && (regisrationForm.get('username')?.dirty || regisrationForm.get('username')?.touched) && regisrationForm.get('username')?.errors?.required">
                        Username is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-error *ngIf="!regisrationForm.get('password')?.errors?.required">
                        Use at least 8 characters. Include uppercase letter, number and special character
                    </mat-error>
                    <mat-error
                        *ngIf="regisrationForm.get('password')?.invalid && (regisrationForm.get('password')?.dirty || regisrationForm.get('password')?.touched) && regisrationForm.get('password')?.errors?.required">
                        Password is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" formControlName="confirmPassword">
                    <mat-error *ngIf="regisrationForm.get('confirmPassword')?.errors">
                        should be same as above
                    </mat-error>
                    <mat-error
                        *ngIf="regisrationForm.get('confirmPassword')?.invalid && (regisrationForm.get('confirmPassword')?.dirty || regisrationForm.get('confirmPassword')?.touched) && regisrationForm.get('confirmPassword')?.errors?.required">
                        Password is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-error
                        *ngIf="!regisrationForm.get('email')?.errors?.required && (regisrationForm.get('email')?.errors?.pattern)">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error
                        *ngIf="regisrationForm.get('email')?.invalid && (regisrationForm.get('email')?.dirty || regisrationForm.get('email')?.touched) && regisrationForm.get('email')?.errors?.required">
                        Email is required
                    </mat-error>
                </mat-form-field>
                <div class="form-field1">
                    <mat-checkbox formControlName="isManager" color="primary" (change)="onManagerCheck($event)">Manager</mat-checkbox>
                    <mat-form-field class="dob-field">
                        <mat-label>Date Of Birth</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" placeholder="MM/DD/YYYY"
                           [max]="maxDob">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error>
                        Please enter a valid date
                    </mat-error>
                    </mat-form-field>
                </div>
                <ng-container *ngIf="showManagerFields()">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Username</mat-label>
                        <input matInput formControlName="managerUsername">
                        <mat-error
                            *ngIf="regisrationForm.get('managerUsername')?.invalid && (regisrationForm.get('managerUsername')?.dirty || regisrationForm.get('managerUsername')?.touched) && regisrationForm.get('managerUsername')?.errors?.required">
                            Username is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Key</mat-label>
                        <input matInput type="password" formControlName="managerKey">
                        <mat-error
                            *ngIf="regisrationForm.get('managerKey')?.invalid && (regisrationForm.get('managerKey')?.dirty || regisrationForm.get('managerKey')?.touched) && regisrationForm.get('managerKey')?.errors?.required">
                            Key is required
                        </mat-error>
                    </mat-form-field>
                    <mat-error *ngIf="errorMsg">
                        {{errorMsg}}
                    </mat-error>
    
                </ng-container>

            </mat-card-content>
            <div class="footer">
                <button type="button" (click)="switchPage('login')" mat-raised-button color="primary">Login</button>
                <button class="submit-button" [disabled]="!regisrationForm.valid" mat-mini-fab type="submit" color="primary" mat-raised-button mat-button>
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
            </form>
    </mat-card>
</div>