.ticket-history{
    padding: 25px;
    font-size: 12px;
    color: #444;
}
<<<<<<< HEAD
th{
    font-size: 19px;
    width: 180px;
    text-align: center;
}
td{
    text-align: center;
}

.avatar
{
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.tags-icon
{
    height: 20px;
    width: 20px;
=======

.avatar {
    width: 30px;
>>>>>>> 28545f8dc6f624784e154f3fd5838d3515518874
}